<%=render "home/slider"%>
<div class="container-fluid" style="padding-top:5%">
  <div class="row-fluid">
    <!-- 左边空白 -->
    <div class="span2">
      <!--Sidebar content-->
    </div>
    <!-- 左边空白结束 -->

    <!-- 内容区 -->
    <div class="span8">
      <h3 class= "text-center">完善简历</h3>
      <p></p>
        <%= form_for @particular do |f|%>
          <%= f.label :name, "姓名" %>
          <%= f.text_field :name %>
          <%= f.label :age, "年龄" %>
          <%= f.text_field :age %>
          <%= f.label :sex, "性别" %>
          <%= f.text_field :sex %>
          <%= f.label :work, "工作年限" %>
          <%= f.text_field :work %>
          <h4>编写简历</h4>
          <%= f.kindeditor :content %>
          <p></p>
          <input type="hidden" id="aa" name="skill" value="<%= @skill %>" >
          <input type="hidden" id="aaa" name="askill" value="<%= @askill.join(',') %>">
          <%= f.submit "提交", class: "btn btn-success"%>
        <% end %>
    </div>
    <!-- 内容区结束 -->


    <!-- 右边空白 -->
     <div class="span2">
      <!--Sidebar content-->
    </div>
    <!-- 右边空白结束 -->
  </div>
</div>